@* This is the partial view for the navbar for the Faculty userTypes. When a Faculty logs in, they will see the follwoing
    navbar at top of their screen with their respected headers*@

<nav class="navbar navbar-expand-lg" style="background-color: #1B4F72;">
    <div class="container">
        @* Left align for the Logo, Home, and Privacy *@
        <a class="navbar-brand d-flex align-items-center" asp-page="/Index">
            <img src="~/images/breaking_bad.png" alt="BB Logo" height="30" class="me-2" />
            Home
        </a>
        <a class="nav-link text-light" asp-page="/Privacy">Privacy</a>
        @* For Mobile devices *@
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        @* Right align and dropdowns for the Grants and Messages Links *@
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="grantsDropdown" role="button" data-bs-toggle="dropdown">
                        Grants
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-page="/Faculty/Grants/MyGrants">View My Grants</a></li>
                        <li><a class="dropdown-item" asp-page="/Faculty/Grants/GrantApplication">Add Grant</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="messagesDropdown" role="button" data-bs-toggle="dropdown">
                        Messages
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-page="/Faculty/Messages/MessageList">View Messages</a></li>
                        <li><a class="dropdown-item" asp-page="/Faculty/Messages/ComposeMessage">Compose Message</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>





 
