@page 
<!-- Imported from Lab1 by Griffin Imlay on 2_27_2025 -->
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
